@import play.api.mvc.RequestHeader 
@(uid: String)(implicit request : RequestHeader)

@main("SCD") {

    <div id="mapContainer">
		<div id="map"></div>
		<script src="@routes.Assets.at("javascripts/graphic_utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/websocket.js")" type="text/javascript"></script>
        <script>
        	websocket_init(@uid, "@routes.Application.webSocket().webSocketURL()")
        </script>
        </div>
        <div id="log"><br>
		<form action="javascript:queryObj();">
			Object Id:<br>
			<input type="text" id="obj_id_text"> <button id="query_btn" type="button" onclick="queryObj()">Track Object</button>
		</form><br>
		<textarea id="focus_area" rows="10" cols="100"></textarea> <button id="stop_btn" type="button" onclick="stopTracking()">Stop Tracking</button>	
	</div>

}
