html {height: 100%; width: 99%; min-height:700px; min-width:1450px}
body {height: 100%; width: 100%}
#mapContainer { background: #f0000; border: 1px solid #ccc; min-height:700px; min-width:1450px; height: 75%; position: relative; width: 100%; overflow: hidden; }
#mapContainer #map { height: 100%; width: 100%; }
#mapContainer #mapControls { position: absolute; left: 15px; top: 15px; width: 29px; }
#mapContainer #mapControls #up { background: url(iconUp.png) no-repeat center top; display: block; height: 26px; width: 29px; }
#mapContainer #mapControls #down { background: url(iconDown.png) no-repeat center top; display: block; height: 27px; width: 29px; }